@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* header section */

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
}
#heading{
  font-size: 1.5rem;
}
h1{
  display: inline-block;
  padding: 1rem;
  font-size: 3rem;
  margin: 0.5rem 0;
  text-align: center;
  border-bottom: 0.2rem solid blue;
  font-family: 'Rubik Glitch', cursive;
}
#type{
  color: white;
  text-shadow: 0 0 0.1rem lightgreen,
  0 0 0.3rem lightgreen;
}
#flow{
  text-shadow: 0 0 0.1rem lightgreen,
  0 0 0.3rem lightgreen;
  color: lightgreen;
}

/* body */
 
body{
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Nunito', sans-serif;
}
html{
  font-size: 62.5%;
}

/* section */

#paragraph{
  margin: 2rem 0 0 0;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  grid-template-areas: 
  "inp inp inp speed"
  "inp inp inp acc"
  "inp inp inp time"
  "inp inp inp btn"
  "prog prog prog prog" ;
}

/*left side */

.input{
  padding: 0.5rem 1rem 1.5rem 1rem;
  border-radius: 2rem;
  word-break: break-all;
  line-height: 1.5;
  border: none;
  grid-area: 1/1;
  font-size: 1.6rem;
  font-family: 'JetBrains Mono', monospace;
}
form{
  grid-area: inp;
  display: grid;
  padding: 0;
  margin: 0;
}
#label{
  background: rgba(255,255,255, 0.1);
  color: gray;
  z-index: 1;
}
#txt-area{
  outline: none;
  color: white;
  background: transparent;
  z-index: 99;
}

/* right side */

.inf{
  min-height: 5rem;
  overflow: visible;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6rem;
  color: white;
  perspective: 1000px;
}
.inf:hover{
  transform: scale(1.05);
  background: rgba(255,255,255, 0.05);
}
.inf:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}
.num{
  color: white;
}
p{
  margin: 0;
}
.digit{
  color: rgba(255,255,255, 0.8);
  padding-left: 1.5rem;
  font-family: 'Share Tech Mono', monospace;
}
.variable{
  font-family: 'Orbitron', sans-serif;
}

#lpm-container:before{
  background: white;
  box-shadow: 0.8rem 0 3rem white, 1.6rem 0 5rem white, 2.4rem 0 8rem white;
}
#accuracy-container:before {
  background: blue;
  box-shadow: 0.8rem 0 3rem blue, 1.6rem 0 5rem blue, 2.4rem 0 8rem blue;
}
#time-container:before {
  background: lightgreen;
  box-shadow: 0.8rem 0 3rem lightgreen, 1.6rem 0 5rem lightgreen, 2.4rem 0 8rem lightgreen;
}

#accuracy-container{
  color: blue;
  grid-area: acc;
}
#time-container{
  color: lightgreen;
  grid-area: time;
}

#refresh-container{
  font-size: 1.6rem;
  justify-content: center;
  color: black;
  grid-area: btn;
  outline: none;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(135deg, lightgreen, white, #566cf3
  )
}
#refresh{
  font-size: 1.6rem;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: transparent;
}
#refresh:before {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 0;
}

/* progress bar */

#progress-container{
  grid-area: prog;
  padding: 0;
  min-height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "bar bar bar bar bar num";
}
#bar-container{
  grid-area: bar;
}
#num-container{
  grid-area: num;
}
.progress{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bar-border{
  border: 0.2rem solid gray;
  width: 95%;
  height: 1.5rem;
  border-radius: 1rem;
  padding: 0;
}
#bar{
  height: 100%;
  border-radius: 1rem;
  background: blue;
  width: 0%;
  transition: 0.2s;
}
#num{
  color: white;
  font-size: 1.6rem;
  width: 80%;
  line-height: 1.5;
}

/* media queries */

@media (max-width: 624px) {
  html{
    font-size: 12px;
  }
  #paragraph{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "inp"
    "inp"
    "inp"
    "inp"
    "speed"
    "acc"
    "time"
    "btn"
    "prog"
    ;
  }
}

@media (min-width: 1024px) {
  html{
    font-size: 20px;
  }
  .inf{
    min-height: 3rem;
  }
}
